<!-- bg-gray-200 -->
<div class="pl-10 pt-10 text-3xl text-black leading-10">Course Request</div>
<div class="pl-10">
  <div>
    Please use this form to submit requests for additional courses.
    <br />
    Additional courses could take as much as 30-45 days to complete. To expedite
    the process, please provide a POC of a subject matter expert for your
    course.
  </div>
</div>
<div class="p-10">
  <div class="flex flex-col">
    <div class="divide-solid divide-y-2 divide-slate-400/25 divide-y pb-20">
      <div class="text-xl">Course Information</div>
      <div class="text-medium pt-5 font-bold text-slate-600">
        <span class="pr-60">Course Name</span>
        <span class="pr-60">Course Description</span>
      </div>
    </div>
    <div class="divide-solid divide-y-2 divide-slate-400/25 divide-y pb-20">
      <div class="text-xl">Requested By Information</div>
      <div class="text-medium pt-5 font-bold text-slate-600">
        <span class="pr-60">Name</span>
        <span class="pr-60">Email</span>
        <span>Phone Number</span>
      </div>
    </div>

    <div class="divide-solid divide-y-2 divide-slate-400/25 divide-y pb-20">
      <div class="text-xl">Requested For Information</div>
      <div class="text-medium pt-5 font-bold text-slate-600">
        <span class="pr-60">Name</span>
        <span class="pr-60">Email</span>
        <span>Phone Number</span>
      </div>
    </div>


  </div>
</div>
<div class="p-3"><app-course-request-form></app-course-request-form></div>