<footer class="pt-20 pb-5">
  <div class="flex flex-row justify-around bg-[#36414b]">
    <div
      *ngFor="let item of footerItems"
      class="p-5 flex-col text-base pt-[10px] text-[#a5a1a1]"
    >
      <div class="pb-3" [innerHTML]="item.item"></div>
      <ul class="text-[#d8d1d1] text-xs space-y-2">
        <li
          *ngFor="let subItem of item.children"
          [innerHTML]="subItem.item"
        ></li>
      </ul>
    </div>
  </div>
  <div
    class="
      flex flex-row
      justify-around
      bg-white
      px-5
      bottom-0
      pt-2
      text-xs
      font-bold
      text-gray-500
    "
  >
    <div
      class="w-1/2 pl-12"
      *ngFor="let item of leftBottomItems"
      [innerHTML]="item"
    ></div>
    <div
      *ngFor="let item of bottomItems"
      [innerHTML]="item"
    ></div><div class="w-2"></div>
  </div>
</footer>
