<!-- <div class="p-10 inline-flex flex-row items-stretch">
  <div class="p-8">filter</div>

  <div class="p-3 grow items-stretch">
    <app-table
      class="fixed"
      [columns]="columns()"
      [data]="service.items$ | async"
      [pagination]="service.pagination$ | async"
      (add)="add()"
      (edit)="edit($event)"
      (delete)="delete($event)"
    ></app-table>
  </div>
</div> -->

<div>
  <app-table
    [columns]="columns()"
    [data]="service.items$ | async"
    [pagination]="service.pagination$ | async"
    (add)="add()"
    (edit)="edit($event)"
    (delete)="delete($event)"
  ></app-table>
</div>

<app-right-side-modal>
  <app-course-edit class="w-1/2"></app-course-edit>
</app-right-side-modal>
