<ng-container *ngIf="!(titlebarService.skipHeader$ | async)">
  <div class="h-screen">
    <app-top-nav class="top-0 mt-1 min-h-full w-full"></app-top-nav>

    <div class="relative mb-auto">
      <div class="relative mt-3 flex h-8 flex-1 items-center bg-app-secondary">
        <div class="absolute left-0 ml-7 text-app-secondary">
          Team Learning Center
        </div>
        <div class="absolute right-0 mr-7 text-app-secondary">
          {{ titlebarService.title$ | async }}
        </div>
      </div>
      <div class="relative h-auto flex-grow">
        <router-outlet class="overflow-x-scroll"></router-outlet>
      </div>
    </div>
    <!-- <div> -->
    <app-bottom-nav class="relative"></app-bottom-nav>
    <!-- </div> -->
  </div>
</ng-container>

<ng-container *ngIf="titlebarService.skipHeader$ | async">
  <div class="h-screen">
    <router-outlet></router-outlet>
  </div>
</ng-container>
