<div class="w-auto mx-auto">
  <carousel
    [infinite]="true"
    [auto]="true"
    [bullets]="true"
    (page)="setPage($event)"
  >
    <ng-container *ngFor="let item of items">
      <div *carouselSlide>
        <div
          class="slide flex flex-row items-center justify-center w-full h-full px-4 absolute bg-app-accent"
        >
          <div class="flex w-1/2 flex-col float-right justify-center">
            <img class="scale-90 object-fit" [src]="item?.image" />
          </div>
          <div class="flex w-1/3 flex-col float-left justify-center">
            <p class="font-bold">{{ item?.name }}</p>
            <p class="text-xs">{{ item?.description | truncate: 100 }}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </carousel>
  <div class="w-full bg-white flex flex-row grow-0 mx-4 mt-4">
    <app-course-card
      class="mx-2"
      *ngFor="let course of items[page - 1].courses"
      [course]="course"
    ></app-course-card>
  </div>
</div>
